#main
{
	width:100%;
	margin:none;
}
header
{
	width:100%;
	float:left;
	background-color:grey;
}
header h1
{
	float:left;
	color:red;
	background-color:white;
	margin-left:3%;
}
header nav
{
	float:left;
	width:60%;
	margin-top:2%;
}
header nav ul li{
	list-style-type:none;
	float:left;
	margin-left:2%;
}
a:hover{
	text-decoration:underline;
	color:red;
}
nav a{
	color:white;
	text-decoration:none;
}
section{
	float:left;
	width:1350px;
	height:500px;
	overflow-x:hidden;
}
section article{
	float:left;
	width:600px;
	background-color:black;
	height:100%;
	overflow-x:hidden;
}
section aside{
	float:left;
	width:740px;
	background-color:black;
	color:white;
	height:100%;
}
section aside p{
	margin-top:30px;
	text-align:justify;
}
footer{
	float:left;
	width:100%;
	background-color:navy;
}
footer p{
	color:white;
	text-align:center;
}
#h {
	background-color:red;
}

#d {
	color:black;
	background-color:yellow;
}
#e {
	color:blue;
	padding-top:10px;
	text-decoration:underline;
}
.middle {
	float:left;
  height:250px;
  background-color:transparent;
  margin:auto;
  overflow:hidden;
  margin-top:0px;
  width:600px;
  
}

.slider
{
    position:relative;    
    width:2400px;
    animation-name: slide;
    animation-duration: 20s;    
    animation-iteration-count: infinite;
   
   
}
.slider img
{
    float:left;  
 
}

@keyframes slide {
    0%
    {
        left:0px;/**/
    }
   25%/*500/18=27.7*/
    {
       left:0px;
    }

    30%/*600/18*/
    {
        left:-600px;
    }
    45%/*1000/18*/
    {
        left:-600px;
    }
    50%/*1100/18*/
    {
        left:-1200px;
    }
    75%/*1500/18*/
    {
        left:-1200px;
    }
    80%/*1600/18*/
    {
        left:-1800px;
    }
    85%
    {
        left:-1800px;
    }
    100%
    {
        left:auto;
    }
    
}