<!DOCTYPE html>
<html>
<head>
<title>ABOUT US </title>
{% load static %}
<link href="{% static '/css/about.css' %}" rel="stylesheet">
</head>
<body>
<header>
	<h1>A Square Travels</h1>
	<nav>
		<ul>
			<li><a href="/travel/">HOME</a></li>
			<li><a href="/travel2/">PACKAGES</a></li>
			<li><a href="/travel3/">SERVICES</a></li>
			<li><a href="/travel4/">GALLERY</a></li>
			<li id="h"><a href="#">ABOUT US</a></li>
			<li><a href="/travel6/">CONTACT</a></li>
		</ul>
	</nav>
</header>
<section>
<div id="wrapper">
    <h1 class="b">ABOUT US</h1>
	<div class="img" id="one">
	</div>
	<div class="img" id="two">
	</div>
	<p>
	IMAGES MAY BE SUBJECT TO COPYRIGHT &copy;
	</p>
</div>
	<article>
		<p class="a">
		
		 A SQUARE TRAVELS is a leading Eastern India Tour and Travel Operator registered at K. N. Road, B - Block, Room No 14 & 15 (1st Floor), Murshidabad, West Bengal, India. We have Residence cum Office at Kolkata, 46/C/30 Biplabi Barin Sarani, Sree Arabinda Abasan, Ground Floor, Kolkata – 700054, West Bengal, India.
		</p>
	</article>
		<aside>
			<p class="a">
			We have two Branch at North Bengal, 1) Siliguri Office – 5/4, Ramkrishna By lane ( Opposite Angela High School),  Ashram Para, Word No – 14, Darjeeling, India, 2)  Malda Office – New Bansbari ( Near Abhijatri Club), Dist – Malda.
            We have recognized Travel Agent / Tour Operator of Tourism Department, Govt. of West Bengal, India. We are an authorized Agent of I.R.C.T.C (Under Ministry of Indian Railway, Govt. of India) and an active Member of TAAB (Travel Agent Association of Bengal). We are also L.F.C approved Tour Operator. On the wing of a vision, Discover India Tourism is one of the best and reliable Travel Companies in West Bengal  dedicated to provide the ultimate Travel Service and Hospitality. Years of experience added with self-creativity and thousands of happy customers have ensured  that  they all consider Discover India Tourism as their best  trip advisor.
            Our Services  are available to Customers all over India & Abroad the objective is to provide the Travelers with the best price, product and service. Discover India Tourism Team makes a traveler’s dream vacation a reality. We offer guided Package tours from Heavenly Kashmir to beautiful Kannayakumari, appealing Goa to Dense Mangrove Forest of West Bengal. Join us to explore the beauty of snow covered Mountains, Deserts, Rivers, Lakes, Beaches, Archeological Heritage sites ,  Silk Route with Off Beat Tour along with Home Stay accommodation around the  West Bengal & Sikkim.
            We arrange guided International Tour of various places of the World like America, Europe, Australia, Africa , Asia & many more.
            We arrange / offer Air Tickets (Domestic & International), Indian Railway Ticketing(E-Ticket) from IRCTC. Instant all over India Hotel Booking and Business Trips for Corporate Sectors. We also offer Customized Tours, Tailored according to the demands of the Group / Individual.
            We look forward to welcome You as an Honored Guest in our magical journeys in Our customary manner with a professional attitude. We would also like to thank Our Patrons for their tremendous support. Please go through the TOUR ITINERARIES for the latest updates regarding Our Package Tours. For further assistance feel free to contact US via Telephone, E-Mail. We will gladly assist You.
            Thanks to all Readers and Travelers

            SQUARE TRAVELS TEAM (INDIA)
			</p>
		</aside>
	
</section>
</body>
</html>