<!DOCTYPE html>
<html>
<head>
<title>contact</title>
{% load static %}
<link href="{% static '/css/contact.css' %}" rel="stylesheet">
</head>
<body>
<div id="main">
<header>
	<h1>A Square Travels</h1>
	<nav>
		<ul>
			<li><a href="/travel/">HOME</a></li>
			<li><a href="/travel2/">PACKAGES</a></li>
			<li><a href="/travel3/">SERVICES</a></li>
			<li><a href="/travel4/">GALLERY</a></li>
			<li><a href="/travel5/">ABOUT US</a></li>
			<li id="h"><a href="#">CONTACT</a></li>
		</ul>
	</nav>
</header>
<section>
<p id="ani">
<b><i>ANIRBAN MUKHERJEE</i></b>
</p>
studentanirban0@gmail.com
<br>contact no: 8670233392
<br>address: 24/147B jc road ,Berhampore ,Murshidabad
<p id="ankit">
<b><i>ANKIT SINGH</i></b>
</p>
ankitsingh9084@hotmail.com
<br>jamshedpur
<br>contact no: 98011030478
</section>
</div>
</body>
</html>