<!DOCTYPE html>
<html>
<head>
<title>services</title>
{% load static %}
<link href="{% static '/css/services.css' %}" rel="stylesheet">
</head>
<body>
<div id="main">
<header>
	<h1>A Square Travels</h1>
	<nav>
		<ul>
			<li><a href="/travel/">HOME</a></li>
			<li><a href="/travel2/">PACKAGES</a></li>
			<li id="h"><a href="/travel3/">SERVICES</a></li>
			<li><a href="/travel4/">GALLERY</a></li>
			<li><a href="/travel5/">ABOUT US</a></li>
			<li><a href="/travel6/">CONTACT</a></li>
		</ul>
	</nav>
</header>
<section>
	<a href="https://www.discoveryholidays.co.in/visa/"><p id="visa">
	visa-passport
	</p></a><a href="/travel2/">
	<p id="package">
	package tours
	</p></a>
</section>
</div>
</body>
</html>